<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite1">
  <test parallel="classes" thread-count="5" name="Testing1">
    <classes>
      <class name="testsuite.Module1"/>
      <class name="testsuite.Module2"/>
    </classes>
  </test> <!-- Testing1 -->
</suite> <!-- TestSuite1 -->
